[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/naotohino
[access "refs/for/refs/*"]
	read = group user/naotohino
	push = group user/naotohino
	label-Code-Review = -2..+2 group user/naotohino
	label-Verified = -1..+1 group user/naotohino
	rebase = group user/naotohino
	removeReviewer = group user/naotohino
	submit = group user/naotohino
[access "refs/heads/*"]
	read = group user/naotohino
	create = group user/naotohino
	push = +force group user/naotohino
	pushMerge = group user/naotohino
[access "refs/tags/*"]
	push = +force group user/naotohino
	pushTag = group user/naotohino
	pushSignedTag = group user/naotohino
